body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:16px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:47px;
  top:132px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:33px;
  top:149px;
  width:320px;
  height:46px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u5 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:152px;
  top:158px;
  width:95px;
  height:22px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:21px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:34px;
  top:203px;
  width:319px;
  height:147px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:147px;
}
#u9 {
  position:absolute;
  left:2px;
  top:66px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:42px;
  top:267px;
  width:305px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:301px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:41px;
  top:216px;
  width:305px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:301px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:42px;
  top:390px;
  width:305px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:301px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:42px;
  top:308px;
  width:305px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:301px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:41px;
  top:430px;
  width:305px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:301px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:43px;
  top:162px;
  width:12px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:60px;
  top:163px;
  width:39px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
