body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:120px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:33px;
  top:208px;
  width:320px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:152px;
  top:221px;
  width:95px;
  height:22px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:21px;
  color:#000000;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:44px;
  top:221px;
  width:12px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:68px;
  top:224px;
  width:39px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:64px;
  top:640px;
  width:262px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:258px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:64px;
  top:540px;
  width:262px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:258px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:110px;
  top:317px;
  width:230px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:43px;
  top:320px;
  width:67px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:44px;
  top:369px;
  width:66px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:89px;
  top:460px;
  width:110px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:47px;
  top:460px;
  width:19px;
  height:16px;
}
#u22 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23 {
  position:absolute;
  left:110px;
  top:361px;
  width:230px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:226px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:110px;
  top:279px;
  width:230px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26 {
  position:absolute;
  left:44px;
  top:279px;
  width:66px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:245px;
  top:401px;
  width:100px;
  height:117px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:30px;
  width:95px;
  height:29px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:59px;
  width:95px;
  height:27px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:27px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:86px;
  width:95px;
  height:26px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:26px;
}
#u36 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
