body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:16px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:207px;
  width:230px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:100px;
  top:254px;
  width:230px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:100px;
  top:300px;
  width:230px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:33px;
  top:134px;
  width:320px;
  height:46px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u6 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:145px;
  top:145px;
  width:95px;
  height:22px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:21px;
  color:#000000;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:44px;
  top:147px;
  width:12px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:61px;
  top:148px;
  width:39px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:293px;
  top:148px;
  width:47px;
  height:16px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:33px;
  top:210px;
  width:67px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:34px;
  top:259px;
  width:66px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:34px;
  top:300px;
  width:66px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:100px;
  top:349px;
  width:140px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:34px;
  top:352px;
  width:66px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:247px;
  top:348px;
  width:100px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:138px;
  top:475px;
  width:162px;
  height:25px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:91px;
  top:475px;
  width:19px;
  height:16px;
}
#u29 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u30 {
  position:absolute;
  left:145px;
  top:550px;
  width:100px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
