body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:16px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:132px;
  width:320px;
  height:568px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:47px;
  top:132px;
  width:308px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:51px;
  top:221px;
  width:296px;
  height:22px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#808080;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:40px;
  top:147px;
  width:320px;
  height:46px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u9 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:152px;
  top:158px;
  width:95px;
  height:22px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:21px;
  color:#000000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:68px;
  top:161px;
  width:39px;
  height:16px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:300px;
  top:161px;
  width:47px;
  height:16px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:51px;
  top:333px;
  width:296px;
  height:16px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#4F4F4F;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:40px;
  top:515px;
  width:320px;
  height:85px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:85px;
}
#u19 {
  position:absolute;
  left:2px;
  top:34px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:54px;
  top:524px;
  width:136px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:21px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:54px;
  top:553px;
  width:305px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:288px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:305px;
  height:1px;
}
#u23 {
  position:absolute;
  left:300px;
  top:521px;
  width:51px;
  height:31px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:300px;
  top:564px;
  width:51px;
  height:31px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:51px;
  top:493px;
  width:296px;
  height:16px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#4F4F4F;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:40px;
  top:302px;
  width:320px;
  height:168px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:168px;
}
#u30 {
  position:absolute;
  left:2px;
  top:76px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:54px;
  top:382px;
  width:305px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:288px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:305px;
  height:1px;
}
#u32 {
  position:absolute;
  left:54px;
  top:424px;
  width:305px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:288px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:305px;
  height:1px;
}
#u33 {
  position:absolute;
  left:54px;
  top:339px;
  width:305px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:288px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:305px;
  height:1px;
}
#u34 {
  position:absolute;
  left:54px;
  top:396px;
  width:136px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:21px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:51px;
  top:566px;
  width:136px;
  height:24px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:24px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:50px;
  top:435px;
  width:305px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:301px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:51px;
  top:349px;
  width:305px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:301px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:51px;
  top:309px;
  width:305px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:301px;
  word-wrap:break-word;
}
