<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>key</key>
			<string>push</string>
			<key>text</key>
			<string>推送</string>
			<key>iconName</key>
			<string>user_order</string>
		</dict>
		<dict>
			<key>key</key>
			<string>autologin</string>
			<key>text</key>
			<string>自动登录</string>
			<key>iconName</key>
			<string>user_Info</string>
		</dict>
	</array>
</dict>
</plist>
